<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/profile_style.css">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>

<body>
  <div class=" mt-5 justify-content-center d-flex">
      <div class="card-content shadow-lg">  
        <div class="card p-2 shadow" style="width: 28rem;background:#3A81F1;">
          <div class="card-body">
            <h3 class="card-title w-100 text-white text-center">Pay <b> {{ride.price}}</b> to {{ride.upi}}</h3>
            <p class="card-text text-white text-center">Scan QR upi to pay.</p>
            <img class="card-img-top w-75 mb-3 rounded-4" style="margin-left:45px!important;" src="../../../media/upi/{{ride.id}}_upi_qr.png" alt="Card image cap">
            <input type="text" class="form-control w-100 text-info mx-auto text-center" value="http://127.0.0.1:8000{{ request.get_full_path }}" disabled id="myInput">
            <div class="container w-100 ml-2 d-flex text-center p-2">
              <button class="btn btn-secondary" onclick="myFunction()">Copy text</button>
              <a href="{% url 'dashboard' %}" class="btn btn-warning">Proceed to Dasboard</a>
            </div>
            
          </div>
        </div>
      </div>
  </div>

  <script>
    function myFunction() {
      // Get the text field
      var copyText = document.getElementById("myInput");
      
      // Select the text field
      copyText.select();
      copyText.setSelectionRange(0, 99999); // For mobile devices
      
      // Copy the text inside the text field
      navigator.clipboard.writeText(copyText.value);
      
      // Alert the copied text
      alert("Copied the text: " + copyText.value);
    }
    </script>
</body>


</html>