
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link href="../../../static/css/searchbar.css" rel="stylesheet" />
    <link href="../../../static/css/label.css" rel="stylesheet" /> -->
    <link id="pagestyle" href="../../../static/css/soft-ui-dashboard.css?v=1.0.6" rel="stylesheet" />
    
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
{% extends 'base.html' %}

{% block content %}

<body style="background:rgb(246, 246, 246);">
    <!-- filter -->
    <style>
      .card{border:0;}
    </style>
    <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse shadow">
            <div class="position-sticky pt-3 sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">
                    <span data-feather="home" class="align-text-bottom"></span>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file" class="align-text-bottom"></span>
                    Orders
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="shopping-cart" class="align-text-bottom"></span>
                    Products
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="users" class="align-text-bottom"></span>
                    Customers
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                    Reports
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="layers" class="align-text-bottom"></span>
                    Integrations
                  </a>
                </li>
              </ul>
      
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Saved reports</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                  <span data-feather="plus-circle" class="align-text-bottom"></span>
                </a>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    Current month
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    Last quarter
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    Social engagement
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    Year-end sale
                  </a>
                </li>
              </ul>
            </div>
          </nav>

          <!-- searchbar -->
    
    <!-- searchbar -->
    <!-- post -->
    <section class="container-fluid py-4 mt-4 mx-auto col  col-xl-4 col-lg-6 ">
        <div className="d-flex flex-column p-4 justify-content-center">
          
            <div class="card mb-4">
                <div class="author p-3 mx-3 align-items-center">
                    <img src="../../../static/img/bruce-mars.jpg" alt="..." class="avatar shadow">
                    <div class="name ps-3">
                      <span>{{prevride.did.fname}}</span>
                      <div class="stats">
                        <small>{{prevride.autodate}}</small>
                      </div>
                    </div>
                </div>
                
                <div class="card-body pt-2"> 
                    <div class="d-flex flex-row">
                        <div class="timeline timeline-one-side col-4 mx-3">
                            <div class="timeline-block mb-3">
                              <span class="timeline-step">
                                <!-- <i class="ni ni-bell-55 text-success text-gradient"></i> -->
                                <i class="fa-solid fa-street-view text-info text-gradient"></i>
                              </span>
                              <div class="timeline-content">
                                <h6 class="text-primary card-title h6 font-weight-bold mb-0">{{prevride.from_address}}</h6>
                                
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{prevride.date | date:'M d, Y'}} <br>   {{prevride.time}} </p>
                               
                              </div>
                              
                            </div>
    
                            <div class="timeline-block mb-3">
                                <span class="timeline-step">
                                  <i class="fa-solid fa-location-dot text-info text-gradient"></i>
                                </span>
                                <div class="timeline-content ">
                                  <h6 class="text-primary card-title h6 font-weight-bold mb-0">{{prevride.to_address}}</h6>
                                </div>
                              </div>
                        </div>
                        <div class="col-8 px-3">
                            <span class=" text-dark text-uppercase text-lg font-weight-bold my-2"> ₹ {{prevride.price}}</span>
                            <p class="card-title font-weight-bold d-block text-dark ">
                              Available Seats : {{prevride.available_seats}}
                            </p>
                            <small class="card-text">
                                Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons.
                            </small>
                        </div>
                    </div>
                    
                  
                  
                </div>
                <div class="text-center mx-3">
                  {% if  prevridedetail.booked %}
                    <a href="{% url 'chatview' %}" class="btn btn-info text-white" role="button" aria-pressed="true">Lets chat</a>
                        <button  class="btn" type='text' style="background-color:#acc4f3" value="Booked" >Booked<i class="fa fa-check" style="color:green;font-size:25px"></i></button>
                    {% elif prevridedetail.rejected %}
                    <button  class="btn" type='text-white' style="background-color:red;color:white" value="Booked" >Rejected<i class="fa fa-ban" style="color:white;font-size:15px;padding:5px"></i></button>

                    {% else %}
                    <a href="{% url 'chatview' %}" class="btn btn-info text-white" role="button" aria-pressed="true">Lets chat</a>

                        <button  class="btn" type='text' style="background-color:#acc4f3" value="Booked" >Booking Pending<i class="fa fa-exclamation-triangle" style="color:orange;font-size:17px;padding:4px"></i></button>

                    {% endif %}

                </div> 
            
            </div>

              <!--  -->
             
        </div>
        <!--  -->
        
    </section>
    
    <!-- post -->
    <section class="container-fluid py-4 mt-4 mx-auto col  col-xl-4 col-lg-6 ">
        <h3>All Previous Ride Details</h3>

        <div className="d-flex flex-column p-4 justify-content-center">
          {% for prevride in allprevdetails %}
          
            <div class="card mb-4">
                <div class="author p-3 mx-3 align-items-center">
                    <img src="../../../static/img/bruce-mars.jpg" alt="..." class="avatar shadow">
                    <div class="name ps-3">
                      <span>{{prevride.did.fname}}</span>
                      <div class="stats">
                        <small>{{prevride.autodate}}</small>
                      </div>
                    </div>
                </div>
                
                <div class="card-body pt-2"> 
                    <div class="d-flex flex-row">
                        <div class="timeline timeline-one-side col-4 mx-3">
                            <div class="timeline-block mb-3">
                              <span class="timeline-step">
                                <!-- <i class="ni ni-bell-55 text-success text-gradient"></i> -->
                                <i class="fa-solid fa-street-view text-info text-gradient"></i>
                              </span>
                              <div class="timeline-content">
                                <h6 class="text-primary card-title h6 font-weight-bold mb-0">{{prevride.from_address}}</h6>
                                
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{prevride.date | date:'M d, Y'}} <br>   {{prevride.time}} </p>
                               
                              </div>
                              
                            </div>
    
                            <div class="timeline-block mb-3">
                                <span class="timeline-step">
                                  <i class="fa-solid fa-location-dot text-info text-gradient"></i>
                                </span>
                                <div class="timeline-content ">
                                  <h6 class="text-primary card-title h6 font-weight-bold mb-0">{{prevride.to_address}}</h6>
                                </div>
                              </div>
                        </div>
                        <div class="col-8 px-3">
                            <span class=" text-dark text-uppercase text-lg font-weight-bold my-2"> ₹ {{prevride.price}}</span>
                            <p class="card-title font-weight-bold d-block text-dark ">
                              Available Seats : {{prevride.available_seats}}
                            </p>
                            <small class="card-text">
                                Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons.
                            </small>
                        </div>
                    </div>
                    
                  
                  
                </div>
                {% comment %} <div class="text-center mx-3">
                    <a href="{% url 'chatview' %}" class="btn btn-info text-white" role="button" aria-pressed="true">Lets chat</a>
                    {% if  prevridedetail.booked %}
                        <button  class="btn" type='text' style="background-color:#acc4f3" value="Booked" >Booked<i class="fa fa-check" style="color:green;font-size:25px"></i></button>
                    {% else %}
                        <button  class="btn" type='text' style="background-color:#acc4f3" value="Booked" >Booking Pending<i class="fa fa-exclamation-triangle" style="color:orange;font-size:17px;padding:4px"></i></button>

                    {% endif %}

                </div>  {% endcomment %}
            
            </div>
            {% endfor %}

              <!--  -->
             
        </div>
    </section>
    <!-- filter -->
    
    
  <script src="../../../static/js/soft-ui-dashboard.min.js?v=1.0.6"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>